<section
  id="contact"
  class="w-full h-screen flex items-center justify-center flex-col mt-20">
  <article class="flex items-center text-center flex-col space-y-8 pb-5">
    <p class="font-unbounded text-[37px]">
      ¿LISTO PARA
      <span
        class="text-orange relative after:absolute after:bg-orange after:w-full after:h-[5px] after:left-0 after:top-full after:mt-2"
        >EMPEZAR?</span
      >
    </p>
    <p
      class="font-roboto 2xl:px-[15%] xl:px-[20%] lg:px-[15%] md:px-[6%] sm:px-[%] xs:px-[3%] mb:px-[6%] text-xl">
      Nuestro equipo estará encantado de responder lo antes posible y ayudarte
      en todo lo que necesites.¡Esperamos poder colaborar contigo pronto!"
    </p>
  </article>
  <div
    class="flex items-center justify-center 2xl:space-x-4 xl:space-x-4 lg:space-x-4 md:space-x-4 sm:space-x-0 xs:space-x-0">
    <div
      class="relative 2xl:w-[300px] 2xl:h-[380px] xl:w-[300px] xl:h-[380px] lg:w-[300px] lg:h-[380px] sm:w-0 x:w-0">
      <img
        src="../../../assets/images/nixVFrontal.png"
        alt="mascota-de-la-empresa"
        class="absolute 2xl:w-[90%] xl:w-[90%] lg:w-[90%] md:w-[90%] sm:w-0 xs:w-0 mt-[45px]" />

      <img
        [@imageState]="isHovered ? 'previous' : 'next'"
        src="../../../assets/images/nixVFrontal.2.png"
        alt="mascota-de-la-empresa"
        class="absolute 2xl:w-[90%] xl:w-[90%] lg:w-[90%] md:w-[90%] sm:w-0 xs:w-0 mt-[45px]" />
    </div>

    <div
      class="space-y-4 xs: flex xs: flex-col xs: items-center xs:text-center">
      <p
        class="bg-purple-light text-white font-roboto font-bold text-2xl p-1 2xl:mr-[183px] xl:mr-[183px]lg:mr-[183px] md:mr-[183px] sm:mr-[183px] xs: mr-0">
        Envíanos un Mensaje
      </p>

      <div [formGroup]="form">
        <form
          class="flex flex-col border-solid border-2 border-gray-input rounded-2xl py-5 px-6 space-y-2 shadow-lg 2xl:w-[420px] xl:w-[420px] lg:w-[420px] md:w-[420px] sm:w-[420px] xs:w-[330px] 2xl:mx-0 xl:mx-0 lg:mx-0 md:mx-0 sm:mx-0 mb:mx-[6%]"
          action="javascript:void(0)"
          (submit)="sendData()"
          method="POST">
          <input
            formControlName="from_name"
            [ngClass]="{
              'invalid-input':
                form.get('from_name')?.invalid && form.get('from_name')?.touched
            }"
            name="name"
            type="text"
            placeholder="Nombre"
            class="border-solid border-2 border-gray-input focus:border-purple-light transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-violet-200 rounded-md px-2 py-1 placeholder:italic" />
          <div
            *ngIf="
              form.get('from_name')?.invalid && form.get('from_name')?.touched
            "
            class="error-message">
            El nombre es requerido
          </div>
          <input
            formControlName="from_email"
            [ngClass]="{
              'invalid-input':
                form.get('from_email')?.invalid &&
                form.get('from_email')?.touched
            }"
            name="email"
            type="email"
            placeholder="Email"
            class="border-solid border-2 border-gray-input focus:border-purple-light transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-violet-200 rounded-md px-2 py-1 placeholder:italic" />
          <div
            *ngIf="
              form.get('from_email')?.invalid &&
              form.get('from_email')?.touched &&
              !form.get('from_email')?.errors?.['email'] &&
              form.get('from_email')?.errors?.['required']
            "
            class="error-message">
            El email es requerido
          </div>

          <div
            *ngIf="
              form.get('from_email')?.errors?.['email'] &&
              form.get('from_email')?.touched
            "
            class="error-message">
            Ingrese un correo electrónico válido.
          </div>

          <input
            formControlName="from_phone_num"
            [ngClass]="{
              'invalid-input':
                form.get('from_phone_num')?.invalid &&
                form.get('from_phone_num')?.touched
            }"
            name="phone_num"
            type="text"
            placeholder="Teléfono"
            class="border-solid border-2 border-gray-input focus:border-purple-light transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-violet-200 rounded-md px-2 py-1 placeholder:italic" />
          <div
            *ngIf="form.get('from_phone_num')?.errors?.['containsLetters']"
            class="error-message">
            Ingrese solo números en el campo teléfono.
          </div>

          <textarea
            formControlName="message"
            [ngClass]="{
              'invalid-input':
                form.get('message')?.invalid && form.get('message')?.touched
            }"
            name="message"
            id=""
            cols="35"
            rows="4"
            class="border-solid border-2 border-gray-input focus:border-purple-light transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-violet-200 rounded-md px-2 py-1 placeholder:italic"
            placeholder="Escribir mensaje..."></textarea>
          <div
            *ngIf="form.get('message')?.invalid && form.get('message')?.touched"
            class="error-message">
            El mensaje es requerido
          </div>
          <div
            *ngIf="
              formSubmitted &&
              (form.invalid || form.errors?.['atLeastOneFieldRequired'])
            "
            class="error-message">
            Por favor, rellenar el formulario.
          </div>

          <div class="flex justify-center">
            <button
              type="submit"
              class="btn-contact"
              (mouseenter)="isHovered = true"
              (mouseleave)="isHovered = false">
              @if (loading) {
                <div class="flex flex-row">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100"
                    preserveAspectRatio="xMidYMid"
                    width="26"
                    height="26"
                    style="
                      shape-rendering: auto;
                      display: block;
                      background: transparent;
                    "
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                      <g transform="translate(80,50)">
                        <g transform="rotate(0)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="1">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.875s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.875s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g
                        transform="translate(71.21320343559643,71.21320343559643)">
                        <g transform="rotate(45)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.875">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.75s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.75s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g transform="translate(50,80)">
                        <g transform="rotate(90)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.75">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.625s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.625s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g
                        transform="translate(28.786796564403577,71.21320343559643)">
                        <g transform="rotate(135)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.625">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.5s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.5s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g transform="translate(20,50.00000000000001)">
                        <g transform="rotate(180)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.5">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.375s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.375s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g
                        transform="translate(28.78679656440357,28.786796564403577)">
                        <g transform="rotate(225)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.375">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.25s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.25s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g transform="translate(49.99999999999999,20)">
                        <g transform="rotate(270)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.25">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="-0.125s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="-0.125s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g
                        transform="translate(71.21320343559643,28.78679656440357)">
                        <g transform="rotate(315)">
                          <circle
                            cx="0"
                            cy="0"
                            r="6"
                            fill="#ffffff"
                            fill-opacity="0.125">
                            <animateTransform
                              attributeName="transform"
                              type="scale"
                              begin="0s"
                              values="1.5 1.5;1 1"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"></animateTransform>
                            <animate
                              attributeName="fill-opacity"
                              keyTimes="0;1"
                              dur="1s"
                              repeatCount="indefinite"
                              values="1;0"
                              begin="0s"></animate>
                          </circle>
                        </g>
                      </g>
                      <g></g>
                    </g>
                  </svg>
                  <p>Enviando ...</p>
                </div>
              } @else {
                Enviar
              }
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
