<div id="nosotros" class="relative isolate overflow-hidden py-10 sm:py-30">
  <div class="justify-center mx-2 lg:mx-8">
    <article class="flex items-center text-center flex-col space-y-8 pb-5">
      <p class="font-unbounded text-[37px]">
        SOBRE
        <span
          class="text-orange relative after:absolute after:bg-orange after:w-full after:h-[5px] after:left-0 after:top-full after:mt-2"
          >NOSOTROS</span
        >
      </p>
    </article>

    <p
      class="font-roboto text-2xl leading-8 text-black text-left texto_padding mx-44">
      Fenix Triad es una empresa ecuatoriana fundada por tres jóvenes
      apasionados por la tecnología y con una visión común: impulsar la
      <span class="text-orange"> innovación</span> a través del desarrollo de
      software y el análisis de datos. Nos hemos comprometido a ofrecer
      soluciones tecnológicas de vanguardia que impulsen el crecimiento y la
      <span class="text-orange"> transformación digital </span>de nuestros
      clientes.
    </p>
  </div>
</div>
