/* Estilos generales para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.social-icons a {
  color: #fff;
  /* Cambia el color según tu diseño */
  margin: 0 10px;
  font-size: 24px;
  /* Ajusta el tamaño según necesites */
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #A851FF;
  /* Cambia el color al hacer hover */
}