.responsive-svg {
  width: 100%;
  padding-bottom: 100%;
  /* Mantiene una proporción de 1:1 */
  position: relative;
}

.svg-container svg {
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}

#fondo {
  background: url('/assets/images/banner-fenix.jpg');
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#nvg a {
  position: relative;
  text-decoration: none;

  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

#nvg a:after {
  content: "";
  position: absolute;
  background-color: #ff7a00;
  height: 2.5px;
  width: 0;
  left: 0;
  margin-inline: 11px;
  bottom: -10px;
  transition: 0.3s;
}

#nvg a:hover:after {
  width: 85%;

}

.contenedor {
  display: flex;
  flex-direction: column;
  height: 200px;
  /* Altura del contenedor (puedes ajustarla según sea necesario) */
  justify-content: flex-end;
  /* Esto alinea los elementos en la parte inferior */
}

.linea-horizontal {
  width: 100%;
  border-top: 8px solid black;

}

#hoja path {
  stroke-dasharray: 751.5855102539062px;
  stroke-dashoffset: 751.5855102539062px;
  animation-name: name-intro 1.4s ease-in-out forwards;
}

#company_name path:nth-child(1) {
  stroke-dasharray: 451.98345947265625px;
  stroke-dashoffset: 451.98345947265625px;
  animation-name: name-intro, degraded-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0s, 0.4s;
}

#company_name path:nth-child(2) {
  stroke-dasharray: 520.0836181640625px;
  stroke-dashoffset: 520.0836181640625px;
  animation-name: name-intro, degraded-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0.3s, 0.8s;
}

#company_name path:nth-child(3) {
  stroke-dasharray: 623.011474609375px;
  stroke-dashoffset: 623.011474609375px;
  animation-name: name-intro, degraded-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0.6s, 1.2s;
}

#company_name path:nth-child(4) {
  stroke-dasharray: 341.67767333984375px;
  stroke-dashoffset: 341.67767333984375px;
  animation-name: name-intro, degraded-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0.9s, 1.6s;
}

#company_name path:nth-child(5) {
  stroke-dasharray: 491.8897399902344px;
  stroke-dashoffset: 491.8897399902344px;
  animation-name: name-intro, degraded-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 1.2s, 2s;
}

#company_name path:nth-child(6) {
  stroke-dasharray: 636px;
  stroke-dashoffset: 636px;
  animation-name: name-intro, degraded-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 1.5s, 2.4s;
}

#company_name path:nth-child(7) {
  stroke-dasharray: 269.81060791015625px;
  stroke-dashoffset: 269.81060791015625px;
  animation-name: name-intro, white-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 1.8s, 2.8s;
}

#company_name path:nth-child(8) {
  stroke-dasharray: 396.4669189453125px;
  stroke-dashoffset: 396.4669189453125px;
  animation-name: name-intro, white-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 2.1s, 3.2s;
}

#company_name path:nth-child(9) {
  stroke-dasharray: 160.75px;
  stroke-dashoffset: 160.75px;
  animation-name: name-intro, white-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 2.4s, 3.6s;
}

#company_name path:nth-child(10) {
  stroke-dasharray: 271.06170654296875px;
  stroke-dashoffset: 271.06170654296875px;
  animation-name: name-intro, white-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 2.7s, 4s;
}

#company_name path:nth-child(11) {
  stroke-dasharray: 390.1154479980469px;
  stroke-dashoffset: 390.1154479980469px;
  animation-name: name-intro, white-fill;
  animation-duration: 1.4s, 0.5s;
  animation-timing-function: ease-in-out, linear;
  animation-fill-mode: forwards, forwards;
  animation-delay: 3s, 4.4s;
}

@keyframes name-intro {
  to {
    stroke-dashoffset: 0%;
  }

}

@keyframes degraded-fill {

  from {
    fill: transparent
  }

  to {
    fill: url(#paint0_linear_0_1)
  }

}

@keyframes white-fill {

  from {
    fill: transparent
  }

  to {
    fill: white
  }

}


.svg-container {
  max-width: 100%;
}

@media screen and (max-width: 640px) {

  #fondo {
    background: url('/assets/images/fenix-mobile.jpg');
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}