<section id="planes" class="mt-[121px]">
  <article class="flex items-center text-center flex-col space-y-8 pb-5 mb-12">
    <p
      class="font-unbounded sm:text-[37px] mb:text-[27px] mb:px-4 md:px-10 lg:px-0 plans_title">
      ENCUENTRA TU PLAN DE SOFTWARE
      <span
        class="text-orange relative after:absolute after:bg-orange after:w-full after:h-[5px] after:left-0 after:top-full after:mt-2"
        >IDEAL</span
      >
    </p>
    <p
      class="xl:mx-48 md:mx-32 xs:mx-14 mb:mx-8 sm:text-2xl mb:text-xl plans_description">
      Soluciones eficientes al alcance de tu presupuesto, descúbrelas aquí.
    </p>
  </article>

  <div
    class="md:space-x-4 flex flex-col md:flex-row items-start justify-center mb: mt-32 sm:mt-[170px] text-center mb:mx-[40px] sm:mx-[154px] md:mx-[88px] lg:mx-32 xl:mx-48 mb:space-y-36 md:space-y-0">
    <!-- PLAN 1 -->
    <ul
      class="drop-shadow-lg basis-1/3 flex flex-col justify-between w-full md:w-1/3 md:mb-6 plan_one">
      <li
        class="relative h-full mb:w-60 md:w-52 lg:w-60 inset-x-0 mx-auto bottom-32">
        <img
          src="../../../assets/images/plan1.png"
          alt="ilustración de un computadora"
          class="absolute" />
      </li>
      <li
        class="bg-[#fdba74] text-white text-2xl font-semibold pt-28 pb-6 flex flex-col items-center">
        <h1>PLAN</h1>
        <h1>IDEAL MAX</h1>
      </li>
      <li class="bg-white text-black text-6xl py-6">
        <span class="text-3xl bottom-4 pr-1">$</span>99,99
        <h1 class="text-[18px] flex justify-center ml-1 text-gray-600 pt-2">
          (Pago en 2 cuotas)
        </h1>
      </li>

      <ul
        class="bg-white text-black text-2xl py-4 space-y-2 flex flex-col text-start mb:px-16 sm:px-[100px] md:px-[22px] lg:px-8 xl:px-12 min-h-[300px]">
        <li>
          <div class="bg-gray-200 h-[2px] lg:w-30 xl:w-60"></div>
        </li>
        <li class="flex flex-row items-center space-x-2 pt-3">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Hosting por un año</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Dominio por un año</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Diseño amigable</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Certificado SSL ilimitado</h6>
        </li>

        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Landing Page</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Correo corporativo</h6>
        </li>

        <li>
          <div class="bg-gray-200 h-[2px] lg:w-30 xl:w-60 mt-3"></div>
        </li>
      </ul>

      <ul class="bg-white text-black text-2xl flex flex-col min-h-[138px]">
        <li class="flex flex-row justify-center space-x-3">
          <a
            href="https://bladfe-tattoo.fenixtriad.com/"
            class="text-[19px] text-purple-light underline"
            target="_blank"
            >Demo</a
          >
        </li>
        <li class="pt-3 mx-auto">
          <a
            href="https://wa.me/593987922426?text=Necesito%20Informaci%C3%B3n%20?"
            target="_blank">
            <button type="submit" class="btn-plan">Contratar Plan</button>
          </a>
        </li>
      </ul>
    </ul>

    <!-- PLAN 2 -->
    <ul
      class="drop-shadow-lg basis-1/3 flex flex-col justify-between w-full md:w-1/3 md:mb-6 plan_two">
      <li
        class="relative h-full mb:w-60 md:w-52 lg:w-60 inset-x-0 mx-auto bottom-32">
        <img
          src="../../../assets/images/plan2.png"
          alt="ilustración de un computadora"
          class="absolute" />
      </li>
      <li
        class="bg-[#fdba74] text-white text-2xl font-semibold pt-28 pb-6 flex flex-col items-center">
        <h1>PLAN</h1>
        <h1>PYMES PLUS</h1>
      </li>
      <li class="bg-white text-black text-6xl py-6">
        <span class="text-3xl bottom-4 pr-1">$</span>299,99
        <h1 class="text-[18px] flex justify-center text-gray-600 pt-2">
          (Pago en 3 cuotas)
        </h1>
      </li>

      <ul
        class="bg-white text-black text-2xl py-4 space-y-2 flex flex-col text-start mb:px-16 sm:px-[100px] md:px-[22px] lg:px-8 xl:px-12 min-h-[150px]">
        <li>
          <div class="bg-gray-200 h-[2px] lg:w-30 xl:w-60"></div>
        </li>
        <li class="flex flex-row items-center space-x-2 pt-3">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Hosting por un año</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Dominio por un año</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Diseño personalizado</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Certificado SSL ilimitado</h6>
        </li>

        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Enlaces a redes sociales</h6>
        </li>

        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Botón de WhatsApp</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Correos corporativos</h6>
        </li>
        <li>
          <div class="bg-gray-200 h-[2px] lg:w-30 xl:w-60 mt-3"></div>
        </li>
      </ul>

      <ul class="bg-white text-black text-2xl flex flex-col min-h-[102px]">
        <li class="flex flex-row justify-center space-x-3">
          <a
            href="https://ronda-restaurant.fenixtriad.com/"
            class="text-[19px] text-purple-light underline"
            target="_blank"
            >Demo</a
          >
        </li>
        <li class="pt-2 mx-auto">
          <a
            href="https://wa.me/593987922426?text=Necesito%20Informaci%C3%B3n%20?"
            target="_blank">
            <button type="submit" class="btn-plan">Contratar Plan</button>
          </a>
        </li>
      </ul>
    </ul>

    <!-- PLAN 3 -->
    <ul
      class="drop-shadow-lg basis-1/3 flex flex-col justify-between w-full md:w-1/3 md:mb-6 plan_three">
      <li
        class="relative h-full mb:w-60 md:w-52 lg:w-60 inset-x-0 mx-auto bottom-32">
        <img
          src="../../../assets/images/plan3.png"
          alt="ilustración de un computadora"
          class="absolute" />
      </li>
      <li
        class="bg-[#fdba74] text-white text-2xl font-semibold pt-28 pb-6 flex flex-col items-center">
        <h1>PLAN</h1>
        <h1>EMPRESARIAL PREMIER</h1>
      </li>
      <li class="bg-white text-black text-6xl py-6">
        <span class="text-3xl bottom-4 pr-1">$</span>399,99
        <h1 class="text-[18px] flex justify-center text-gray-600 pt-2">
          (Pago en 3 cuotas)
        </h1>
      </li>

      <ul
        class="bg-white text-black text-2xl py-6 space-y-2 flex flex-col text-start mb:px-16 sm:px-[100px] md:px-[22px] lg:px-8 xl:px-12 min-h-[300px]">
        <li>
          <div class="bg-gray-200 h-[2px] lg:w-30 xl:w-60"></div>
        </li>
        <li class="flex flex-row items-center space-x-2 pt-3">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Hosting por un año</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Dominio por un año</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Diseño personalizado</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Certificado SSL ilimitado</h6>
        </li>

        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Enlaces a redes sociales</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Botón de WhatsApp</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Correos corporativos</h6>
        </li>
        <li class="flex flex-row items-center space-x-2">
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle
              cx="12"
              cy="12"
              r="10"
              stroke="#a851ff"
              stroke-width="1.5" />
            <path
              d="M8.5 12.5L10.5 14.5L15.5 9.5"
              stroke="#a851ff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <h6 class="text-[18px]">Sección de productos</h6>
        </li>
        <li>
          <div class="bg-gray-200 h-[2px] lg:w-30 xl:w-60 mt-3"></div>
        </li>
      </ul>
      <ul class="bg-white text-black text-2xl flex flex-col min-h-[94px]">
        <li class="mx-auto">
          <a
            href="https://wa.me/593987922426?text=Necesito%20Informaci%C3%B3n%20?"
            target="_blank">
            <button type="submit" class="btn-plan">Contratar Plan</button>
          </a>
        </li>
      </ul>
    </ul>
  </div>
</section>
