<section class="flex place-items-center justify-center w-full h-screen">
  <article
    class="pet-rectangle w-[80%] h-[70%] -skew-x-6 -skew-y-[4deg] bg-purple absolute flex flex-col items-center justify-center sm:pt-[90px] 2xl:mt-[0] xl:mt-[0] lg:mt-[0] md:mt-[0] sm:mt-[20%] xs:mt-[20%]">
    <div
      class="skew-x-6 skew-y-[4deg] 2xl:pr-[360px] 2xl:pl-[80px] xl:pr-[360px] xl:pl-[80px] lg:pr-[300px] lg:pl-[80px] md:pr-[200px] md:pl-[40px] sm:flex sm:flex-col sm:items-center sm:justify-center xs:flex xs:flex-col xs:items-center xs:justify-center 2xl:text-left xl:text-left lg:text-left md:text-left sm:text-center xs:text-center 2xl:pt-[0px] xl:pt-[0px] lg:pt-[0px] md:pt-[0px] sm:pt-[15%] xs:pt-[25%]">
      <p
        class="text-white font-roboto 2xl:text-3xl xl:text-3xl lg:text-3xl sm:text-2xl xs:text-2xl">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-purple-degraded to-orange">
          ¡Hola! Soy <span class="font-extrabold font-roboto">Nix</span>, la
          mascota de Fénix Triad,
        </span>
        represento la pasión por la innovación y el renacimiento en el mundo
        tecnológico.
      </p>
      <button class="btn-contact my-4">Escríbenos</button>
    </div>
  </article>

  <article
    class="absolute 2xl:left-[66%] 2xl:top-[12%] xl:left-[66%] xl:top-[12%] lg:left-[66%] lg:top-[12%] md:left-[66%] md:top-[12%] sm:top-[1%] sm:left-[40%] xs:top-[1%] xs:left-[40%]">
    <img
      src="../../../assets/images/pet.png"
      alt="mascota-de-la-empresa"
      class="2xl:w-[315px] xl:w-[315px] lg:w-[315px] md:w-[315px] sm:w-[45%] xs:w-[45%]" />
  </article>
</section>
