.orange-yellow {
  background: linear-gradient(96.25deg, #C90000 2.44%, #FC4B00 47.42%, #FF8A00 62.59%);
  background-clip: border-box;
  font-weight: 400;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.7s;
}

.default-color {
  color: #ff8a00;
  transition-duration: color 0.7s;

}

.elipse {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.018) 100%);
  backdrop-filter: blur(15px);
}