<!-- ANIMATED-BUTTON - Copyright - 2024 StealthWorm (thierry) # Copyright - 2024 rubyreapergaming -->
<section
  class="relative flex items-center justify-center w-full xs:h-screen sm:mt-24 mb:mt-2 xs:overflow-x-hidden xs:overflow-y-hidden">
  <article
    class="pet-rectangle xs:w-[80%] xs:h-[70%] mb:h-[60%] mb:w-[75%] -skew-x-6 -skew-y-[4deg] bg-purple flex flex-col items-center justify-center sm:pt-[90px] md:mt-[0] mb:mt-[20%] pet_polygon">
    <div
      class="skew-x-6 skew-y-[4deg] lg:pr-[360px] lg:pl-[80px] md:pr-[310px] md:pl-[40px] mb:justify-center mb:items-center md:text-left mb:text-center md:pt-[0px] sm:pt-[15%] mb:pt-[25%] pet_description">
      <p class="text-white font-roboto lg:text-3xl mb:text-2xl">
        <span
          [ngClass]="{
            'default-color': !isHovered,
            'purple-fuchsia': isHovered
          }">
          ¡Hola! Soy <span class="font-extrabold font-roboto">Nix</span>, la
          mascota de Fénix Triad,
        </span>
        represento la pasión por la innovación y el renacimiento en el mundo
        tecnológico.
      </p>

      <div class="my-4 flex md:justify-start mb:justify-center">
        <a href="#contacto">
          <button
            type="button"
            class="pet-btn contact-btn"
            (mouseenter)="isHovered = true"
            (mouseleave)="isHovered = false">
            <strong class="text-white"> Escríbenos </strong>

            <div id="container-stars">
              <div id="stars"></div>
            </div>

            <div id="glow">
              <div class="circle"></div>
              <div class="circle"></div>
            </div>
          </button>
        </a>
      </div>
    </div>
  </article>

  <img
    src="assets/images/mascota.png"
    alt="mascota-de-la-empresa"
    class="absolute lg:w-[620px] md:w-[550px] xs:w-[54%] mb:w-[80%] xl:right-[14px] xl:-top-[30px] lg:right-[13px] lg:-top-[30px] md:right-[9px] md:-top-[2%] sm:right-[21%] sm:-top-[9%] xs:right-[21%] xs:-top-[4%] mb:mx-auto mb:-top-[45%] pet_img" />

  <img
    [@imageState]="isHovered ? 'previous' : 'next'"
    src="assets/images/mascota-flamas.png"
    alt="mascota-de-la-empresa"
    class="absolute lg:w-[620px] md:w-[550px] xs:w-[54%] mb:w-[100%] xl:right-[14px] xl:-top-[30px] lg:right-[13px] lg:-top-[30px] md:right-[9px] md:-top-[2%] sm:right-[21%] sm:-top-[9%] xs:right-[21%] xs:-top-[4%] mb:mx-auto mb:-top-[45%] pet_img" />
</section>
